<div class="modal fade" id="new_account_Modal">
    <div class="modal-dialog modal-xl" style="max-width: 1300px;">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
				<!-- Titre  -->
          <h4 class="modal-title"  > <label id="_Modal_title">Ajouter un compte </label></h4>
		</div>
		
		
		<div class="modal-body">
       
    

	 <div class="container">
	 
	<div id="myModal" class="modal">
		
		
	  	<div class="form-group">
						<h5>Nom du message <h6>(sans l'extension '.pcm')</h6> </h5>
						<input type="text" class="form-control" name="name" id="name"  >
		</div>
	 	
    <div class="row">
      <button class="btn btn-success" onclick="submit_account()" >Terminer</button>
   
    </div>
	</div>
	</div>
	 <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
	</div>
</div>
</div>
</div>
